/* PRIMARY COL : #1266f1 */
.card {
  height: 100%;
}

.car-card:hover {
  animation: cardAni ease-in-out 0.3s;
  border: 2px solid #00efd1;
  transition: border 0.3s;
}

.car-card:hover .card-title {
  color: #00dfb1;
}

.car-card .avatar {
  width: 120px;
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
  border-radius: 50%;
  background-color: #00efd130;
}

.bike-card:hover {
  animation: cardAni ease-in-out 0.3s;
  border: 2px solid #ef5ca2;
  transition: border 0.3s;
}

.bike-card:hover .card-title {
  color: #ef5ca2;
}

.bike-card .avatar {
  width: 120px;
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
  border-radius: 50%;
  background-color: #ef5ca230;
}

.prop-card:hover {
  animation: cardAni ease-in-out 0.3s;
  border: 2px solid #ff5050;
  transition: border 0.3s;
}

.prop-card:hover .card-title {
  color: #ff5050;
}

.prop-card .avatar {
  width: 120px;
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
  border-radius: 50%;
  background-color: #ff505030;
}

.term-card:hover {
  animation: cardAni ease-in-out 0.3s;
  border: 2px solid #00b59c;
  transition: border 0.3s;
}

.term-card:hover .card-title {
  color: #00b59c;
}

.term-card .avatar {
  width: 120px;
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
  border-radius: 50%;
  background-color: #00b59c30;
}

@keyframes cardAni {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
