.cart-item-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.accordion-item {
  margin-bottom: 20px;
  border-radius: 20px !important;
  transition: all linear 0.8s;
  overflow: hidden;
}

.accordion-button {
  border-radius: 20px !important;
}

.btn-cart-select-all {
  left: 10px;
  top: 10px;
  width: auto;
  border: 1px solid #aaaaaa;
  border-radius: 20px;
  text-align: center;
  color: transparent;
  background-color: #aaaaaa10;
}
.btn-cart-select-all.selected {
  color: #b23cfd;
  background-color: #b23cfd30;
  border: 2px solid #b23cfd;
}

.btn-cart-select {
  z-index: 88;
  padding: 0;
  line-height: 16px;
  left: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  text-align: center;
  color: transparent;
  background-color: #aaaaaa10;
}

.btn-cart-select.selected {
  color: #1269be;
  background-color: #1269be30;
  border: 2px solid #1269be;
}

.selected-item-check {
  background-color: black !important;
}

.accordion-item {
  transition: all linear 0.6s;
}

/* .accordion-button::after {
  display: none;
} */

.btn-cart-delete {
  right: 1rem;
  top: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #aaaaaa;
  border-radius: 15px;
  border: 1px solid #aaaaaa;
  z-index: 88;
  overflow: hidden;
}

.btn-cart-delete:hover {
  color: #ff3366;
  background-color: #ff336620;
  width: 88px;
  border-color: #ff3366;
  transition: width linear 0.3s;
}

.table tr td:nth-child(2) {
  font-weight: 600;
}

.table tr td {
  padding-top: 8px;
  padding-bottom: 8px;
}

.summray-wrapper .table td {
  padding-left: 5px;
  padding-right: 0px;
}
