.cust-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

.cust-card:hover {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.24);
  background-color: #1266f104 !important;
}

.cust-card .avatar {
  overflow: hidden;
  align-self: center;
}

.cust-card .avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #00efd130;
}

.card-price {
  font-size: 12px;
}

.price-tag-0 {
  font-weight: 700;
  color: #1266f1;
}

.price-tag-1 {
  color: #888;
  text-decoration: line-through;
  font-style: italic;
}

.price-tag-2 {
  color: #00b74a;
  font-size: 11px;
  padding: 0 6px;
  border-radius: 10px;
  border: 1px solid #00b74a;
  background-color: #00b74a20;
  font-weight: 600;
}

.pagination-wrapper {
  background-color: #1266f110;
  border: 2px solid #1266f1;
}

.page-item .page-link {
  color: #1266f1;
  font-weight: 700;
}

.page-item.disabled .page-link {
  background-color: transparent;
  color: #aaaaaa;
}
