.title-icon {
  border-radius: 50%;
  border: 2px solid #1266f1;
}

.title-text {
  text-transform: capitalize;
}

.title-icon img {
  background-color: #e1ecfd;
  max-height: 60px;
  max-width: 60px;
}

.breadcrumb {
  background-color: #e3e3e3;
  padding: 10px;
}

.breadcrumb-item {
  text-transform: uppercase;
}
.breadcrumb-item + .breadcrumb-item:before {
  display: none !important;
}
