.checkout-list-wrapper {
  background-color: white;
  border: 1px solid #1269be;
  border-radius: 20px;
  max-width: 700px;
}

.checkout-item-wrapper {
  border-bottom: 2px solid #1269be;
}
.checkout-item-wrapper:last-child {
  border-bottom: none;
}
