.insurance-info .company-logo img {
  max-width: 100%;
  max-height: 120px;
  background-color: #1212a212;
  border-radius: 20px;
}

.price-tag-0 {
  font-weight: 700;
  color: #1266f1;
}

.price-tag-1 {
  color: #888;
  text-decoration: line-through;
  font-style: italic;
}

.price-tag-2 {
  color: #00b74a;
  padding: 0 6px;
  border-radius: 10px;
  border: 1px solid #00b74a;
  background-color: #00b74a20;
  font-weight: 600;
}

label {
  font-size: small;
  font-weight: 500;
}

.select-arrow:after {
  content: "▼";
}
.select-arrow {
  position: absolute;
  right: 10px;
  top: 5px;
}

.form-title {
  width: fit-content;
  padding: 10px 30px;
  transform: translateX(-1rem);
  border-top: 2px solid #1266f1;
  border-right: 2px solid #1266f1;
  border-bottom: 2px solid #1266f1;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #1266f110;
}
