body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #67119930;
}

.img-responsive {
  width: 100%;
  object-fit: contain;
}

.error-text {
  font-size: 10px;
  background-color: #ffdddd;
  padding: 1px 10px;
  margin-top: 3px;
  border-radius: 10px;
}
